input.ng-invalid{border: 1px solid red;}
input.ng-valid{border-left: 5px solid green;}

.container{
    box-shadow: black;
    border: 2px solid black;
    border-radius: 10px;
    width: 400px;
    height: 450px;
    position: absolute;
    top:60px;
    left:475px;
}

.form-group{
    width:250px;
    position: relative;
    left: 50px;
    display: block;

    
}
.head
{
    position: relative;
    left: 100px;
    font-weight: bold;
}

.submit{
    position: relative;
    left: 125px;
    bottom: -10px;
}